/* General setup */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography */
body {
    font-family: 'Source Sans Pro', sans-serif;
}

/* Layout */

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Navigation bar */

nav {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.5em 1em 1em;
}

#nav-title {
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
}

#title {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    cursor: default;
}

#logo {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

#nav-burger {
    font-size: 1.5rem;
    cursor: pointer;
}    

#menu-container {
    display: flex;
    width: fit-content;
    margin: 0 1.5em 1em auto;
}

.nav-home,
.nav-about {
    display: inherit;
    color: black;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-home {
    margin: 0 1em 0 auto;
}

/* Hero section */

header {
    background: url("/images/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    min-height: 300px;
    padding: 1em;

    display: flex;
    flex-direction: column;

    color: whitesmoke;
    cursor: pointer;
}

#hero-date {
    margin-top: auto;
    font-size: 0.9rem;
}

#hero-heading {
    font-size: 2.5rem;
}

#hero-body {
    max-width: 600px;
    font-size: 1.2rem;
}

/* Main section */

/* Have the main section take up the remaining space */
main {
    flex-grow: 1;
}

#section-posts {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    padding: 1em;
}

.card {
    display: grid;
    grid-template: 225px 20px auto auto / 1fr;

    padding-bottom: 1.5em;
    border-bottom: 1px solid #50505062;
    cursor: pointer;
}

.card:hover > img {
    filter:invert(100%);
}

.card > img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
    box-shadow: 0 0 10px black;
}

.card-date {
    font-size: 0.85rem;
    color: #000000;
    padding-top: 0.5em;
}

.card-heading {
    font-size: 2rem;
    color: #141414;
}

.card-body {
    color: #505050;
}

#btn-viewmore {    
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    text-decoration-line: underline;
    color: #000000;

    background: none;
    border: none;    
    cursor: pointer;
    
    display: block;
    margin: 0 auto 1em auto;
}

/* Footer */

footer {
    background: #202020;
    text-align: center;    
    padding: 1.25em 0;
}

#footer-title {   
    font-size: 0.75rem; 
    color: #ececec71;
}

#footer-copyright {
    font-size: 0.75rem;
    color: #505050;
}

/* Utility */

.hidden {
    display: none;
}

 /* Responsiveness */
 @media (min-width: 768px) {

    #section-posts {
        width: 100vw;
        
        display: grid;
        grid-template: repeat(auto-fit, minmax(225px, 1fr)) / repeat(auto-fit, minmax(350px, 1fr));
    }

    /* Hide the burger icon as well as the menu */
    #nav-burger,
    #burger-menu {
        display: none;
    }

    /* Unhide the Home and About links in the nav bar */
    .nav-home,
    .nav-about {
        display: inherit;
    }
 }